{{#each games as |game|}}

  <div>
    <h1 data-id="{{game.id}}"> <small>Name: {{game.name}}</small></h1>
    <p>Comment: {{game.comment}}</p>
    <section data-id="{{game.id}}">
    </section>
  </div>

{{/each}}
