@import '~bootstrap/scss/bootstrap';

$blue: #77c9d4;
$teal: #57bc90;
$green: #015249;
$grey: #e0e0e0;
$link-back: rgba(255, 255, 255, .6);


.auth-actions {
  float: right;
}

body {
  background-color: $grey;
  color: $green;
  font-family: courier;
  margin: 20px;
  padding-top: 40px;
}

.navbar {
  background-color: $teal !important;
  border-bottom: 1px solid $black;
}

button {
  background-color: $blue;
  border-radius: 6px;
  color: $green;
  margin-top: 5px;
}

.btn {
  background-color: $blue;
  border: 1px solid $green;
  border-radius: 6px;
  color: $green;
  width: 200px;
}

.game-btn {
  background-color: $blue;
  border: 1px solid $green;
  border-radius: 6px;
  color: $green;
  margin-bottom: 10px;
  margin-left: 400px;
  width: 200px;
}

form {
  border-radius: 6px;
  padding-bottom: 20px;
}

h1 {
  font-size: 50px;
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
}

input {
  border: 1px solid $green;
  border-radius: 6px;
}

.card {
  background-color: $teal !important;
  border: 2px solid $green;
  border-radius: 6px;
  margin: 15px 150px;
  min-width: inherit;
  text-align: center;
}

.card-header {
  background-color: $blue !important;
  border-bottom: 2px solid $green;
  font-size: 20px;
}

.form-control {
  height: 100px;
  width: 300px;
}

#auth-message {
  margin-top: 15px;
}

.nav-link {
  background: $link-back;
  background-color: $grey;
  border-radius: 6px;
  margin: 5px;
}
